/* Fondo general */
.login-body {
    background: #eef0f6;
    height: 100vh;
    margin: 0;
}

/* Contenedor centrado */
.login-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Botón volver */
.volver-tienda {
    position: absolute;
    top: 20px;
    left: 20px;
}

.volver-tienda a {
    text-decoration: none;
    color: #004aad;
    font-size: 16px;
}

.volver-tienda a:hover {
    text-decoration: underline;
}

/* Caja del login */
.login-container {
    background: #fff;
    padding: 40px 35px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 360px;
    text-align: center;
}

.login-container img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

/* Botón */
.btn-login {
    background-color: #c23223;
    width: 100%;
}

.btn-login:hover {
    background-color: #a3271c;
}
