<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<div class="container-fluid">

    <form th:action="@{/inventario/guardar}" th:object="${movimientoForm}"
          method="post" id="formMovimiento" class="row g-3">

        <div class="col-md-4">
            <label class="form-label fw-semibold">Tipo de Movimiento</label>
            <select th:field="*{tipoMovimiento}" class="form-select" required>
                <option value="">Selecciona...</option>
                <option value="ENTRADA">Entrada</option>
                <option value="SALIDA">Salida</option>
            </select>
        </div>

        <div class="col-md-4">
            <label class="form-label fw-semibold">Cantidad</label>
            <input type="number" min="1" step="0.01" th:field="*{cantidad}"
                   class="form-control" required>
        </div>

        <div class="col-md-4">
            <label class="form-label fw-semibold">Producto</label>
            <select th:field="*{idProducto}" class="form-select" required>
                <option value="">Seleccione...</option>
                <option th:each="p : ${productos}"
                        th:value="${p.idProducto}"
                        th:text="${p.nombreProducto}"></option>
            </select>
        </div>

        <div class="col-md-4">
            <label class="form-label fw-semibold">Unidad</label>
            <select th:field="*{idUnidad}" class="form-select" required>
                <option value="">Seleccione...</option>
                <option th:each="u : ${unidades}"
                        th:value="${u.idUnidad}"
                        th:text="${u.nombreUnidad}"></option>
            </select>
        </div>

        <div class="col-md-4">
            <label class="form-label fw-semibold">Cliente DNI/RUC</label>
            <div class="input-group">
                <input type="text" id="documentoCliente" class="form-control">
                <button type="button" class="btn btn-outline-primary" id="buscarCliente">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <div class="col-md-4">
            <label class="form-label fw-semibold">Nombre Cliente</label>
            <input type="text" id="nombreCliente" class="form-control" readonly>
        </div>

        <div class="col-12 text-end mt-3">
            <button class="btn btn-success px-4" type="submit">
                <i class="bi bi-save"></i> Guardar
            </button>
        </div>

    </form>

</div>

</html>
